<nav class="bottom-nav">
    <a routerLink="/main/products" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <span><mat-icon fontIcon="home"></mat-icon></span>
    </a>
    <a routerLink="/main/favorites" class="nav-item" routerLinkActive="active">
        <span><mat-icon fontIcon="bookmark_border"></mat-icon></span>
    </a>
    <a routerLink="/main/notifications" class="nav-item" routerLinkActive="active">
        <span><mat-icon fontIcon="notifications_none"></mat-icon></span>
    </a>
    <a routerLink="/main/profile" class="nav-item" routerLinkActive="active">
        <span><mat-icon fontIcon="person_outline"></mat-icon></span>
    </a>
</nav>