<!-- Header with search and cart -->
<header class="header">
    <button class="icon-button">
        <span>🔍</span>
    </button>
    <h1 class="title">
        MAKE HOME<br>
        BEAUTIFUL
    </h1>
    <button class="icon-button">
        <a routerLink="/main/cart">
            <span>🛒</span>
        </a>
    </button>
</header>

<!-- Categories make dynamic later-->
<div class="categories">
    <button class="category-item active">
        <span>⭐</span>
        <span>Popular</span>
    </button>
    <button class="category-item">
        <span>🪑</span>
        <span>Chair</span>
    </button>
    <button class="category-item">
        <span>🪟</span>
        <span>Table</span>
    </button>
    <button class="category-item">
        <span>🛋️</span>
        <span>Armchair</span>
    </button>
    <button class="category-item">
        <span>🛏️</span>
        <span>Bed</span>
    </button>
</div>

<!-- Product Grid -->
<div class="product-grid">
    @for (product of products; track product.product_id) {
        <product-card [product]="product"></product-card>
    }
</div>