<!-- Header with search and cart -->
<header class="header">
	<button class="icon-button">
		<span><mat-icon fontIcon="search"></mat-icon></span>
	</button>
	<h1 class="title">
		<span class="top">MAKE HOME</span><br />
		<span class="bottom">BEAUTIFUL</span>
	</h1>
	<button class="icon-button cart-button">
		<a routerLink="/main/cart">
			<span><mat-icon fontIcon="shopping_cart"></mat-icon></span>
			<span class="cart-count">{{ (cartItemsCount | async) }}</span>
		</a>
	</button>
</header>

<!-- Categories make dynamic later-->
<div class="categories">
	@for (category of categories; track category.id) {
		<button
			class="category-item"
			[class.active]="activeCategory === category.id"
			(click)="setActiveCategory(category.id)"
		>
			<div class="icon-container">
				@if (category.id === "popular") {
					<mat-icon fontIcon="star"></mat-icon>
				} @else if (category.id === "lamp") {
					<mat-icon fontIcon="light"></mat-icon>
				} @else {
					<img
						[src]="'assets/icons/' + category.icon + '.svg'"
						[alt]="category.icon"
					/>
				}
			</div>
			<span>{{ category.name }}</span>
		</button>
	}
</div>

<!-- Product Grid -->
<div class="product-grid">
	@for (product of $products | async; track product.product_id) {
		<product-card [product]="product"></product-card>
	}
</div>
