<div class="product-card">
    <div class="image-container">
        <img [src]="product.main_image" [alt]="product.name" (click)="navigateToProduct(product)">
        <es-button class="cart-button" size="small" variant="secondary" (click)="addToCart(product)" [disabled]="product.stock === 0">
            <mat-icon fontIcon="local_mall"></mat-icon>
        </es-button>
    </div>
    <div class="product-info" (click)="navigateToProduct(product)">
        <h3>{{ product.name }}</h3>
        <p>$ {{ product.price | number: '1.2-2' }}</p>
    </div>
</div>