.logo-container {
    margin-bottom: 1.5rem;
}

.logo {
    display: flex;
    img {
        width: 100%;
    }
}


.welcome-text {
    margin-bottom: 2rem;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    line-height: 2.5rem;
}